p {
  font-size: 20px;
}

hr.star-light:after, hr.star-dark:after, hr.star-grey:after {
  position: relative;
  top: -0.8em;
  display: inline-block;
  padding: 0 .25em;
  content: "\f005";
  font-family: 'FontAwesome';
  font-size: 2em;
  font-weight: 700;
}

hr.star-grey:after {
  color: #2c3e50;
  background-color: var(--bs-gray-400);
}

hr.star-light:after {
  color: #fff;
  background-color: #4bb485;
}

hr.star-light, hr.star-dark, hr.star-grey {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid .25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

#photosection {
  background: var(--bs-gray-400);
}

#photosection @media (max-width: 575.98px) {
  padding-top: 15px;
}

#photosection @media (max-width: 767.98px) {
  padding-top: 30px;
}

.link-white a {
  color: white;
}

.bg-primary {
  background-color: #4bb485 !important;
}

